body {
    background-color: #AFEEEE;
}




h1:hover {
    color: #FF8362;
    
    
}





img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}





nav {
    text-transform: uppercase
}

nav-link {
    opacity: 0.7
}
    

nav-link:hover {
    opacity: 1;
    background-color: #eee !important;
}



header {


    background-image: url("backimg.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
    color: #fff;
    text-align: center;
    text-transform: capitalize;    
}

.services {
    text-align: center;
}


.services i{
    font-size: 30px;
    padding: 25px 20px;
    
    background-color: #0c798c;
    color: #fff;
    
    text-align: center;
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    
    
}

.services span{
    font-weight: bold;
    
    
}

.plans {
    text-align: center;
   
}

.plans div {
    
    border-radius: 25px;
    padding: 20px;
    
}


.subbox {
    padding: 0 5px 0 5px;
}
.subbox .inner {
    background-color: #fff;
}

.subbox .inner h3 {
    border-radius: 25px;
    padding: 20px;
    background-color:  #FF8362;
}
.subbox .inner h5 {
    border-radius: 25px;
    padding: 20px;
    background-color: #E8E8E8;
}

.team {
    text-align: center;
    
}

.team .col-md-8 {
    background-color: blue;
    
}

.team .col-md-4 {
    background-color: green;
    
}


.test {
    text-align: center;
}


.test .col-md-4 {
    background-color: gray;
}

.test .col-md-6 {
    background-color: white;
}

.test .col-md-2 {
    background-color: pink;
}

